$error: #eb5757;

$yellow: #ffc700;
$darkYellow: #f3c41e;
$blue: #2f80ed;
$mediumBlue: #eaf2fd;
$lightBlue: #f9fcff;
$darkGrey: #545454;
$grey: #ddd;
$lightGrey: #e0e0e0;
$dark: #282828;
$white: #fff;
